[package]
name = "falcon"
version = "0.2.0"
authors = [ "Alex Eubanks <endeavor@rainbowsandpwnies.com>" ]
repository = "https://github.com/falconre/falcon"
description = "A Binary Analysis Framework in Rust"
license = " Apache-2.0"
readme = "README.md"

[dependencies]
base64 = "0.5"
bitflags = "1.0"
falcon_capstone = "0.2.0"
error-chain = "0.11"
goblin = "0.0.11"
log = "0.3"
serde_derive = "1.0"
serde_json = "1.0"

serde = {version = "1.0.8", features = ["rc"]}

[features]
default = []
thread_safe = []

[lib]
name = "falcon"
path = "lib/lib.rs"