[package]
name = "falcon"
version = "0.4.9"
authors = [ "Alex Eubanks <endeavor@rainbowsandpwnies.com>" ]
repository = "https://github.com/falconre/falcon"
description = "A Binary Analysis Framework in Rust"
license = "Apache-2.0"
readme = "README.md"
edition = "2018"

[dependencies]
base64 = "0.11"
bitflags = "1.0"
#falcon_capstone = "0.3.0"
falcon_capstone = "0.4.0"
error-chain = "0.12"
goblin = "0.1.3"
log = "0.4"
num-bigint = {version="0.2", features=["serde"]}
num-traits = "0.2.1"
serde_derive = "1.0"
serde_json = "1.0"
serde = {version="1.0", features=["rc"]}

[features]
default = []
thread_safe = []
capstone4 = ["falcon_capstone/capstone4"]

[lib]
name = "falcon"
path = "lib/lib.rs"
